* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
    border: solid #fff;
    flex-wrap: wrap;
    align-items: center;
}

.signup {
    margin-left: auto;
}

.login,
.linkthree {
    margin-left: 20px;
}

.header-container {
    color: #fff;
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-image: url(images/backgroundhome.jpg);
    background-size: contain;
}

.header {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button1 {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    background-color: white;
    border: 2px solid #1f2937;
    border-radius: 8px;
    transition-duration: 0.4s;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button1:hover {
    background-color: #1f2937;
    color: white;
  }

.headerimage {
    display: flex;
    align-items: center;
}

.himage {
    display: flex;
    position: relative;
    width: 300px;
    height: auto;
    opacity: 0.5;
}

.himage:hover {
    opacity: 1;
    transition: 0.5s ease;
    box-shadow: 5px 5px #1f2937;
    border-radius: 10%;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
    background-color: pink;
}

.photo-grid {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.photo-grid-item {
    position: relative;
    border: 1px solid #fff;
    width: 200px;
    height: 125px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #1f2937;
}

.photo-grid-item:hover .overlay {
    opacity: 1;
}

.text {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.list {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
}

/* .list::-webkit-scrollbar { display: none; } */

.gallery {
    height: 450px;
    width: auto;
    flex-shrink: 0;
}

.item:not(:last-child) {
    margin-right: 10px;
}