* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: grey;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    border: solid #fff;
    flex-wrap: wrap;
}

.signup {
    margin-left: auto;
}

.login,
.linkthree {
    margin-left: 20px;
}

.break {
    width: 100%;
    height: 0;
}

.leftintro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}